/* 
    Name: Alexis Ziegler
    Student ID: 970781611
    Course: IST 256
    Assignment: LIVE Portfolio Page + JS
    Submission Date: February 22, 2026
    GitHub Repository: https://github.com/alexisjziegler/portfolio-project 
*/


/* Grid Layout */
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    padding: 5px;
    margin-top: -42px;
}

.container div{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 15px;
    transition: background-color 0.5s ease;
}

/* Headers */
header{
    text-align: center;
    padding: 40px 20px;
    font-size:60px;
    border-radius: 20px;
    border: 5px solid black;
}
header h1{
    font-size: 40px;
}
header h2{
    font-size: 25px;
    margin: auto;
}

/* Navigation Bar */
/*nav{
    border-radius: 10px;
    text-align: center;
    border: 3px solid black;
    margin: 15px auto;
    width: 70%;
    height: 75px;
}
nav ul{
    list-style-type: none;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: center;
    display:flex;
    gap: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
}
*/

main{
    background: white;
}

/* Embedded Images */

img{
    width: 50%;
    height: 30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

figure{
    text-align: center;
}

/* Aside and Footer*/
aside{
    float: right;
    width: 20%;
    padding: 15px;
    border-radius: 5px;
    border-color: black;
    margin: auto 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
    align-self: center;
    max-width: 100%;
}

/* Sections */
#about, #skills, #projects, #experience{
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 65%;
    font-size: 20px;
}

#contact{
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    font-weight: bold;
}

/* Table */
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    background-color: blue;
    width: 50%;
}

caption{
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    color: black;
    width: 100%;
}

/* Buttons */
button{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
    transition: background-color 0.5s ease;
}