/*
    Name: Alexis Ziegler
    Student ID: 970781611
    Course: IST 256
    Assignment: LIVE Portfolio Page + JS
    Submission Date: February 22, 2026
    GitHub Repository: https://github.com/alexisjziegler/portfolio-project 
*/

/* Variables */
@primary-color: rgb(206, 71, 255);
@secondary-color: rgb(117, 255, 253);

/* Transition */
.container div:hover{
    background-color: @secondary-color;
}
button:hover{
    background-color: @secondary-color;
}

/* Styles */
.container div{
    background-color: @primary-color;
}

nav{
    background-color: @secondary-color;
}
header{
    background: linear-gradient(45deg,@primary-color, @secondary-color);
}

aside{
    background-color: @primary-color;
}

footer{
    background-color: @primary-color;
}

#about, #skills, #projects, #experience{
    background-color: @secondary-color;
}

#contact{
    background-color: @primary-color;
}

button{
    background-color: @primary-color;
}