/*
    Name: Alexis Ziegler
    Student ID: 970781611
    Course: IST 256
    Assignment: LIVE Portfolio Page + Bootstrap
    Submission Date: February 15, 2026
    GitHub Repository: https://github.com/alexisjziegler/portfolio-project 
*/
/* Variables */
/* Transition */
.container div:hover {
  background-color: #75fffd;
}
button:hover {
  background-color: #75fffd;
}
/* Styles */
.container div {
  background-color: #ce47ff;
}
nav {
  background-color: #75fffd;
}
header {
  background: linear-gradient(45deg, #ce47ff, #75fffd);
}
aside {
  background-color: #ce47ff;
}
footer {
  background-color: #ce47ff;
}
#about,
#skills,
#projects,
#experience {
  background-color: #75fffd;
}
#contact {
  background-color: #ce47ff;
}
button {
  background-color: #ce47ff;
}
